@import "variable";
.ant-menu-horizontal {
    &.ant-menu {
        background: initial !important;
        border: none !important;
        color: $primaryColor !important;
    }

    .ant-menu-item-active {
        color: $primaryColor !important;
    }

    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
        color: $primaryColor !important;
        border: none;
    }
    .ant-menu-item:active,
    .ant-menu-submenu-title:active {
        background: initial !important;
    }

    .ant-menu-item>a:hover {
        color: $hoverColor !important;
    }

    .ant-menu-item:hover,
    .ant-menu-item-active,
    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover {
        color: $hoverColor !important;
    }
    .ant-menu-item,
    .ant-menu-submenu,
    .ant-menu-item-active {
        border-bottom: none !important;
    }
}
